body {
    overflow-x: hidden;
    margin-left: 0;
    margin-right: 0;
    background-image: repeating-linear-gradient(15deg, #080707, #747272 20%);
  }
  
  .top {
    background-image: linear-gradient(to right, #060606, #595252);
    height: 6.25rem; /* 100px */
    width: 100%;
    top: 0;
    position: absolute;
    z-index: 9999;
  }
  
  .hb {
    font-family: 'Dancing Script', cursive;
    color: aliceblue;
    font-size: 2.5rem; /* 40px */
    position: absolute;
    top: 1.25rem; /* 20px */
    left: 0.625rem; /* 10px */
  }
  
  .hb a {
    text-decoration: none;
    color: aliceblue;
  }
  
  .heading {
    position: absolute;
    font-family: 'Ubuntu', cursive;
    color: white;
    font-size: 1.875rem; /* 30px */
    left: 45rem; /* 650px */
  }
  
  .booking {
    position: absolute;
    top: 12.5rem; /* 200px */
    left: 9.375rem; /* 150px */
    height: 37.5rem; /* 600px */
    width: 78.125rem; /* 1250px */
    background-color: aliceblue;
    border-radius: 0.3125rem; /* 5px */
  }
  
  table {
    text-align: center;
  }
  
  th {
    width: 62.5rem; /* 1000px */
    height: 3.125rem; /* 50px */
    border-bottom: 0.0625rem solid black; /* 1px */
    font-family: 'Ubuntu', cursive;
    font-size: 1.25rem; /* 20px */
  }
  
  table a {
    text-decoration: none;
  }
  
  .rows tr {
    cursor: pointer;
    height: 5rem; /* 80px */
    font-size: 1.0625rem; /* 17px */
    font-family: 'Ubuntu', cursive;
  }
  
  .rows tr:hover {
    background-color: #848181;
  }
  
  td {
    border: none;
    margin: 0;
    padding: 0;
  }
  
  .popup {
    display: none;
    position: absolute;
    background-color: aliceblue;
    margin-top: 0;
    top: 18.75rem; /* 300px */
    left: 28.125rem; /* 450px */
    height: 12.5rem; /* 200px */
    width: 31.25rem; /* 500px */
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
   
    border: 0.0625rem solid black; /* 1px */
    border-bottom-right-radius: 0.3125rem; /* 5px */
    border-bottom-left-radius: 0.3125rem;
    text-align: center;
  }

  .heading3 {
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    position: absolute;
    width:100%;
    text-align: center;
    background-image: linear-gradient(to top left, #727eb5, #1d233e);
    font-family: 'Ubuntu', cursive;
    color: white;
    margin-top: 0rem;
    height: 4.5rem;
  }
  .datetext{
    position: absolute;
    left:1rem;
    top:5rem;
    color:black;
    font-family: 'Ubuntu', cursive;
  }
  
  .date {
    position: absolute;
    height: 1.875rem; /* 30px */
    font-family: 'Ubuntu', cursive;
    top:8rem;
    width:10rem;
    left:1rem;
  }
  .seatselect{
    display:none;
    position: absolute;

    
  }
  .seattext{
    font-family: 'Ubuntu', cursive;
    position: absolute;
    width: 8rem;
    
    left:1rem;
    top:12rem;

  }
  .seatno{
    position: absolute;
    height: 1.875rem;
    font-family: 'Ubuntu', cursive;
    width:10rem;
    top:15rem;
    left:1rem;

  }
  
  .confirm {
    display: none;
    position: absolute;
    bottom: 0.625rem; /* 10px */
    right: 1.5625rem; /* 25px */
    font-family: 'Ubuntu', cursive;
    font-size: 0.9375rem; /* 15px */
    height: 2.5rem; /* 40px */
    width: 6.25rem; /* 100px */
    cursor: pointer;
  }
  

  @keyframes myAnim {
    0% {
      animation-timing-function: ease-in;
      opacity: 0;
      transform: translateY(-250px);
    }
  
    38% {
      animation-timing-function: ease-out;
      opacity: 1;
      transform: translateY(0);
    }
  
    55% {
      animation-timing-function: ease-in;
      transform: translateY(-65px);
    }
  
    72% {
      animation-timing-function: ease-out;
      transform: translateY(0);
    }
  
    81% {
      animation-timing-function: ease-in;
      transform: translateY(-28px);
    }
  
    90% {
      animation-timing-function: ease-out;
      transform: translateY(0);
    }
  
    95% {
      animation-timing-function: ease-in;
      transform: translateY(-8px);
    }
  
    100% {
      animation-timing-function: ease-out;
      transform: translateY(0);
    }
  }

  @keyframes myAnim2 {
    0% {
      transform: scale(1);
      transform-origin: 50% 0%;
    }
  
    100% {
      transform: scale(0);
      transform-origin: 50% 0%;
    }
  }