body {
    overflow-x: hidden;
    margin-left: 0;
    margin-right: 0;
    background-image: repeating-linear-gradient(15deg, #080707, #747272 20%);
  }
  
  .top {
    background-image: linear-gradient(to right, #060606, #595252);
    height: 6.25rem; /* 100px */
    width: 100%;
    top: 0;
    position: absolute;
    z-index: 9999;
  }
  
  .hb {
    font-family: 'Dancing Script', cursive;
    color: aliceblue;
    font-size: 2.5rem; /* 40px */
    position: absolute;
    top: 1.25rem; /* 20px */
    left: 0.625rem; /* 10px */
  }
  
  .hb a {
    text-decoration: none;
    color: aliceblue;
  }
  
  .heading {
    position: absolute;
    font-family: 'Ubuntu', cursive;
    color: white;
    font-size: 1.875rem; /* 30px */
    left: 45rem; /* 650px */
  }
  
  .booking {
    position: absolute;
    top: 12.5rem; /* 200px */
    left: 9.375rem; /* 150px */
    height: 37.5rem; /* 600px */
    width: 78.125rem; /* 1250px */
    background-color: aliceblue;
    border-radius: 0.3125rem; /* 5px */
  }
  
  table {
    text-align: center;
  }
  
  th {
    width: 62.5rem; /* 1000px */
    height: 3.125rem; /* 50px */
    border-bottom: 0.0625rem solid black; /* 1px */
    font-family: 'Ubuntu', cursive;
    font-size: 1.25rem; /* 20px */
  }
  
  table a {
    text-decoration: none;
  }
  
  .rows tr {
    cursor: pointer;
    height: 5rem; /* 80px */
    font-size: 1.0625rem; /* 17px */
    font-family: 'Ubuntu', cursive;
  }
  
  .rows tr:hover {
    background-color: #848181;
  }
  
  td {
    border: none;
    margin: 0;
    padding: 0;
  }
  
  .popup {
    display: none;
    position: absolute;
    top: 18.75rem; /* 300px */
    left: 28.125rem; /* 450px */
    height: 12.5rem; /* 200px */
    width: 31.25rem; /* 500px */
    background-color: rgb(199, 200, 202);
    border: 0.0625rem solid black; /* 1px */
    border-radius: 0.3125rem; /* 5px */
    text-align: center;
  }
  
  .time {
    height: 1.875rem; /* 30px */
    font-family: 'Ubuntu', cursive;
  }
  
  .confirm {
    position: absolute;
    bottom: 0.625rem; /* 10px */
    right: 1.5625rem; /* 25px */
    font-family: 'Ubuntu', cursive;
    font-size: 0.9375rem; /* 15px */
    height: 2.5rem; /* 40px */
    width: 6.25rem; /* 100px */
    cursor: pointer;
  }
  