body {
    overflow-x: hidden;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  
  .top {
    background-image: linear-gradient(to right, #060606, #595252);
    height: 6.25rem; /* 100px */
    width: 100%;
    top: 0;
    position: absolute;
    z-index: 9999;
  }
  
  .hb {
    font-family: 'Dancing Script', cursive;
    color: aliceblue;
    font-size: 2.5rem; /* 40px */
    position: absolute;
    top: 1.25rem; /* 20px */
    left: 0.625rem; /* 10px */
  }
  
  .hb a {
    text-decoration: none;
    color: aliceblue;
  }
  
  .buttons {
    position: relative;
    top: 0.9375rem; /* 15px */
  }
  
  .buttons a {
    text-decoration: none;
  }
  
  .about {
    position: absolute;
    height: 3.125rem; /* 50px */
    width: 8.75rem; /* 140px */
    text-align: center;
    left: 31.25rem; /* 500px */
    font-size: 1.25rem; /* 20px */
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    padding-top: 1.875rem; /* 30px */
  }
  
  .about:hover {
    background-color: #0d0c0c;
  }
  
  .busroute {
    position: absolute;
    height: 3.125rem; /* 50px */
    width: 8.75rem; /* 140px */
    font-size: 1.25rem; /* 20px */
    left: 40rem; /* 640px */
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    text-align: center;
    padding-top: 1.875rem; /* 30px */
  }
  
  .busroute:hover {
    background-color: #0d0c0c;
  }
  .confirm{
    position:absolute;
    top:10rem;
    left:30rem;
    font-family: 'Ubuntu', cursive;
    font-size: 3rem; 

  }
  .enter {
    position: absolute;
    height: 3rem; /* 60px */
    border-radius: 1rem; /* 10px */
    width: 7.5rem; /* 120px */
    background-image: linear-gradient(45deg, #132b39, #18436a, #4758a2, #1f2230);
    background-size: 300%;
    left: 40rem;
    top:21rem;
    margin-top:1rem;
    transition: background-position 1s;
    cursor: pointer;
    border-width: 0;
    font-size: 1rem; /* 20px */
    color: white;
    font-family: 'Ubuntu', cursive;
  }
  
  .enter:hover {
    background-position: right;
  }
  