body {
    overflow-x: hidden;
    margin-left: 0;
    margin-right: 0;
  }
  
  .top {
    background-image: linear-gradient(to right, #060606, #595252);
    height: 6.25rem; /* 100px */
    width: 100%;
    top: 0;
    position: absolute;
    z-index: 9999;
  }
  
  .hb {
    font-family: 'Dancing Script', cursive;
    color: aliceblue;
    font-size: 2.5rem; /* 40px */
    position: absolute;
    top: 1.25rem; /* 20px */
    left: 0.625rem; /* 10px */
  }
  
  .hb a {
    text-decoration: none;
    color: aliceblue;
  }
  
  .buttons {
    position: relative;
    top: 0.9375rem; /* 15px */
  }
  
  .buttons a {
    text-decoration: none;
  }
  
  .about {
    position: absolute;
    height: 3.125rem; /* 50px */
    width: 8.75rem; /* 140px */
    text-align: center;
    left: 31.25rem; /* 500px */
    font-size: 1.25rem; /* 20px */
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    padding-top: 1.875rem; /* 30px */
  }
  
  .about:hover {
    background-color: #0d0c0c;
  }
  
  .busroute {
    position: absolute;
    height: 3.125rem; /* 50px */
    width: 8.75rem; /* 140px */
    font-size: 1.25rem; /* 20px */
    left: 40rem; /* 640px */
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    text-align: center;
    padding-top: 1.875rem; /* 30px */
  }
  
  .busroute:hover {
    background-color: #0d0c0c;
  }
  
  .login {
    height: 2.5rem; /* 40px */
    background-image: linear-gradient(to left, #8a5050, #5e0d1a, #2e2123 80%);
    background-size: 300%;
    transition: background-position 1s;
    font-size: 1.25rem; /* 20px */
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    width: 8.75rem; /* 140px */
    position: absolute;
    left: 75rem; /* 1200px */
    top: 1.25rem; /* 20px */
    cursor: pointer;
    border-radius: 0.3125rem; /* 5px */
    border-width: 0;
  }
  
  .login:hover {
    background-position: right;
  }
  
  .signup {
    height: 2.5rem; /* 40px */
    background-image: linear-gradient(to left, #8a5050, #5e0d1a, #2e2123 80%);
    background-size: 300%;
    transition: background-position 1s;
    font-size: 1.25rem; /* 20px */
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    width: 8.75rem; /* 140px */
    position: absolute;
    left: 84.375rem; /* 1350px */
    top: 1.25rem; /* 20px */
    cursor: pointer;
    border-radius: 0.3125rem; /* 5px */
    border-width: 0;
  }
  
  .signup:hover {
    background-position: right;
  }
  
  .first {
    position: relative;
    top: 5rem; /* 80px */
    height: 31.25rem; /* 500px */
  }
  
  .img1 {
    height: 31.25rem; /* 500px */
    width: 50%;
    float: left;
  }
  
  .firsttext {
    font-size: 3.75rem; /* 60px */
    font-family: 'Pacifico', cursive;
  }
  
  .second {
    background-image: url("waves.png");
    background-size: 100rem 40rem;
    position: relative;
    top: 3rem; /* 50px */
    height: 40rem; /* 650px */
  }
  
  .contactus {
    padding: 3.125rem; /* 50px */
    background-color: aliceblue;
    border-radius: 1.875rem; /* 30px */
    position: relative;
    top: 4rem; /* 40px */
    border: 0.125rem solid black; /* 2px */
    width: 50rem; /* 500px */
    left: 18rem; /* 100px */
    height: 25rem; /* 400px */
    text-align: center;
  }
  
  .text3 {
    font-size: 1.875rem; /* 30px */
    position: absolute;
    top: 0;
    font-family: 'Ubuntu', cursive;
  }
  
  .forms {
    position: absolute;
    top: 9.375rem; /* 150px */
  }
  
  .name {
    position: absolute;
    border-radius: 0.3125rem; /* 5px */
    height: 1.875rem; /* 30px */
    width: 31.25rem; /* 500px */
    left: 7rem; /* 100px */
    font-family: 'Ubuntu',cursive;
  }
  
  .number {
    position: absolute;
    border-radius: 0.3125rem; /* 5px */
    height: 1.875rem; /* 30px */
    width: 31.25rem; /* 500px */
    left: 7rem; /* 100px */
    font-family: 'Ubuntu',cursive;
  }
  
  .email {
    position: absolute;
    border-radius: 0.3125rem; /* 5px */
    height: 1.875rem; /* 30px */
    width: 31.25rem; /* 500px */
    left: 7rem; /* 100px */
    font-family: 'Ubuntu',cursive;
  }
  
  .review {
    position: absolute;
    border-radius: 0.3125rem; /* 5px */
    height: 6rem; /* 100px */
    width: 31.25rem; /* 500px */
    left: 7rem; /* 100px */
    font-size: 1.25rem; /* 20px */
    font-family: 'Ubuntu',cursive;
  }
  
  .submit {
    position: absolute;
    border:none;
    height: 3.125rem; /* 100px */
    border-radius: 0.625rem; /* 10px */
    background-image: linear-gradient(45deg, #9dec50, #5cada0,#b28be2,#c34f25);
    transition: background-position 1s;
    background-size:300%;
    width: 6.25rem; /* 100px */
    cursor: pointer;
    left:19rem;
    font-family: 'Ubuntu',cursive;

  }
  .submit:hover{
    background-position: right;
  }