body{
    overflow-x: hidden;
    margin-left: 0px;
    margin-right: 0px;
    background-image:  repeating-linear-gradient(15deg, #080707 ,#747272 20%)
  }
  .top{
      background-image:linear-gradient(to right,#060606,#595252);
      height:100px;
      width:100%;
      top: 0px;
      position: absolute;
      z-index: 9999;
  }
  .hb{
      font-family: 'Dancing Script', cursive;
      color:aliceblue;
      font-size: 40px;
      position: absolute;
      top:20px;
      left:10px;
  }
  .hb a{
      text-decoration: none;
      color:aliceblue;
  
  
  }
  .heading{
    position: absolute;
    font-family: 'Ubuntu',cursive;
    color:white;
    font-size: 30px;
    left:600px;
  }
  .content{
    
    position: absolute;
    top:200px;
    background-color: aliceblue;
    height:600px;
    width:1000px;
    border:1px solid black;
    left:300px;
    text-align:center;
    border-radius: 40px;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  ul{
    list-style-type: none;
  }
.content a{
    text-decoration: none;
}

