<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/booking.css">
    <link rel="icon" type="image/x-icon" href="../static/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crafty+Girls&family=Dancing+Script&family=Lilita+One&family=Pacifico&family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <title>Booking</title>
  </head>
  <body>
    <div class="top">

        <div class="hb">
           <a href="/home" class="homeb"> BusManagement</a>
        </div>

        <p class="heading">Booking</p>

    </div>


    <div class="booking">
      <h1 align="center" style="font-family: 'Ubuntu',cursive;">You can click on the any of the below bus in the list to book</h1>

      <table cellspacing="0px">
        <tr><th>Bus Number</th>
          <th>Name</th><th>DTime</th><th>From</th>
          <th>To</th>
        </tr>
       
       
        <tbody class="rows">
        <a href="">
        <tr>
          <!-- Example Values -->
          <!-- Serial No. -->
          <td>001</td> <!-- Bus Number -->
          <td>volvo</td> <!-- Bus Name -->
          <td>9:00am</td><!-- Departure time -->
          <td>bengaluru</td> <!-- From -->
          <td>pondi</td> <!-- To -->
        </tr>
        </a>
      </tbody>  
      </table>
    </div>
   
   
   
    <div class="popup">
      <h2 class="heading3">Specify the details and please confirm your booking</h2>
      <span class="close-btn">X</span>
        <p class="datetext">Enter the date of departure:</p>
      <select class="date">
        <!-- Here you have to enter the bus timings, below are example values -->
        <option>dsd</option>
        <option>dsa</option>
        <option>dsds</option> 
        <option>dsds</option>

        </select>

      <button type="submit" class="confirm"><b>Confirm</b></button>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script> 
    var busno;
    var busname;
    var from;
    var to;
    var date;

    $(document).ready(function() {
      $("tr").click(function(){
        $('.popup').css("display","block");
        $('.popup').css("animation"," myAnim 1s ease 0s 1 normal forwards");
        busno = $(this).find('td:eq(1)').text();
        busname = $(this).find('td:eq(2)').text();
        from = $(this).find('td:eq(3)').text();
        to = $(this).find('td:eq(4)').text();
      });
      $(".close-btn").click(function() {
          $(".popup").hide();
      });
      $(".date").change(function(){
        date=$(".date").val();
        console.log(date); //reference
        $('.confirm').fadeIn();


        

      });
      $(".confirm").click(function(e) {
          e.preventDefault();
            // Retrieve the entered values
            seatno=$(".seatno").val();
            console.log(date);//reference
            console.log(seatno);//reference
            // Send this data to the server here
            var data = {
                busno: busno,
                busname:busname,
                from:from,
                to:to,
                date:date,
  
             };

             // Send the data to the server using AJAX
            $.ajax({
                url: '/delete_employee', // Replace with your server endpoint URL
                method: 'POST',
                data: data,
                success: function(response) {
                // Handle the server response
                console.log(response);

                // Optionally perform actions based on the response
                 },
                error: function(xhr, status, error) {
                // Handle any errors that occur during the AJAX request
                console.log('Error:', error);
                }
             });
  
             $('.popup').css("animation"," myAnim2 1s ease 0s 1 normal forwards");
            
         });
    });
    </script>
  </body>
</html>

