<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/booking.css">
    <link rel="icon" type="image/x-icon" href="../static/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crafty+Girls&family=Dancing+Script&family=Lilita+One&family=Pacifico&family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <title>Booking</title>
  </head>
  <body>
    <div class="top">

        <div class="hb">
           <a href="/" class="homeb"> BusManagement</a>
        </div>

        <p class="heading">Booking</p>

    </div>


    <div class="booking">
      <h1 align="center" style="font-family: 'Ubuntu',cursive;">You can click on the any of the below bus in the list to book</h1>

      <table cellspacing="0px">
        <tr><th>Bus Number</th>
          <th>Name</th><th>DepartureTime</th><th>Depature Day</th><th>From</th>
          <th>To</th>
        </tr>
       
       
        <tbody class="rows">
        <a href="">
            {% for a in data %}
        <tr>
          <td>{{ a.BusNo }}</td> <!-- Bus Number -->
          <td>{{ a.Name }}</td> <!-- Bus Name -->
          <td>{{ a.DepTime }}</td>
          <td>{{ a.DepDay }}</td>
          <td>{{ a.From }}</td> <!-- From -->
          <td>{{ a.To }}</td> <!-- To -->
        </tr>
            {% endfor %}
        </a>
      </tbody>  
      </table>
    </div>
   
   
   
    <div class="popup">
      <h2 class="heading3">Enter your E-Mail</h2>
      <span class="close-btn">X</span>
      
    
      <input type="text" placeholder="Email" class="email" required>
      <button type="submit" class="confirm"><b>Confirm</b></button>

      <div class="confirmmessage">This is your Email:<br>
        <p class="confirmemail"></p>
      </div>
     
      <button type="submit" class="confirm1"><b>Confirm Booking</b></button>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script> 
    var busno;
    var busname;
    var from;
    var to;
    var date;
    var departureday;
    var email;


    $(document).ready(function() {
      $("tr").click(function(){
        $('.popup').css("display","block");
        $('.popup').css("animation"," myAnim 1s ease 0s 1 normal forwards");
        busno = $(this).find('td:eq(0)').text();
        busname = $(this).find('td:eq(1)').text();
        departureday = $(this).find('td:eq(3)').text();
        from = $(this).find('td:eq(4)').text();
        to = $(this).find('td:eq(5)').text();
        $('.popup').fadeIn();
        
      });
      $(".close-btn").click(function() {
          $(".popup").hide();
      });
      
      
      $(".confirm").click(function() {
          email = $('.email').val();
          $(".popup").animate({
              height: "15rem"
          }, 1000);
          $('.heading3').html('Confirm your Booking');
          
          $(".email").hide();
          $('.confirmemail').html(email);
          
          $(".confirmmessage").fadeIn();
          $('.confirmemail').fadeIn();
          $(".confirm1").fadeIn();
      });


        

   
      $(".confirm1").click(function(e) {
          e.preventDefault();
          console.log(email);
            // Retrieve the entered values
            // Send this data to the server here
            var data = {
                busno: busno,
                busname:busname,
                from:from,
                to:to,
                departureday:departureday,
                email:email

                
  
             };

             // Send the data to the server using AJAX
            $.ajax({
                dataType: "json",
                url: '/booking',
                method: 'POST',
                data: JSON.stringify({input_data: data}),
                contentType: 'application/json; charset=utf-8',
                success: function(response) {
                // Handle the server response
                console.log(response);

                // Optionally perform actions based on the response
                 },
                error: function(xhr, status, error) {
                // Handle any errors that occur during the AJAX request
                console.log('Error:', error);
                }
             });
  
             $('.popup').css("animation"," myAnim2 1s ease 0s 1 normal forwards");
            
         });
    });
    </script>
  </body>
</html>

