<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/dashboard.css">
    <link rel="icon" type="image/x-icon" href="../static/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crafty+Girls&family=Dancing+Script&family=Lilita+One&family=Pacifico&family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <title>Dashboard</title>
  </head>
  <body>
    <div class="top">

        <div class="hb">
           <a href="/" class="homeb"> BusManagement</a>
        </div>

        <p class="heading">Dashboard</p>

    </div>

    <div class="content">

      <div class="users">
        <p class="userstext">Click on the below button to view the <b>Users</b></p>
        <a href="/admin/users">
          <button class="usersbutton">View Users</button>
        </a>
      </div>

      <div class="editbs">
        <p class="editbstext">Click on the below button to view the <b>Bus List</b></p>
        <a href="/admin/buslist">
            <button class="usersbutton">View Users</button>
        </a>
      </div>

      <br><br><br>

      <div class="editbs">
        <p class="editbstext">Click on the below button to view the <b>Bus Routes</b></p>
        <a href="/busroute">
          <button class="editbsbutton">Bus routes</button>
        </a>
      </div>

      <br><br><br>

      <div class="employee">
        <p class="employeetext">Click on the below button to view the <b>Employees</b></p>
        <a href="/admin/employees">
        <button class="employeebutton">Employees</button>
        </a>
      </div>

    </div>

  </body>
</html>
