<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/editbs.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crafty+Girls&family=Dancing+Script&family=Lilita+One&family=Pacifico&family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <title></title>
  </head>
  <body>
    <div class="top">

        <div class="hb">
           <a href="/home" class="homeb"> BusManagement</a>
        </div>

        <p class="heading">Bus Users Edit</p>

    </div>

    <div class="content">
        <div class="busno">
            <ul>
                <li></li>
            </ul>
        </div>
    
    <div class="busname">
        <ul>
            <li></li>
        </ul>
    </div>

        <div class="eno">
            <ul>
                <li><a href=""></a></li>
            </ul>
        </div>
        <div class="routeno">
            <ul>
                <li><a href=""></a></li>
            </ul>
        </div>
        <br><br><br>

        <button type="submit" class="enter">Enter New Bus</button>

        <div class="popup">
            <h2 class="heading2">Enter New Bus Details</h2>
            <form id="detailsForm">
              
              <input type="text" placeholder="Bus Number" id="busnumber" required>
              <br><br>
             
              <input type="text" placeholder="Bus Name" id="busname" required>
              <br><br>
           
              <input type="text" placeholder="Employee Number" id="employeenumber" required>
              <br><br>
              
              <input type="text" placeholder="Route Number" id="routenumber" required>
              <br><br>
              <br><br>
              <button type="submit" class="sub">Submit</button>
              </form>
              <div class="error-summary" style="display: none; color: red;"></div>
            </div>



    </div>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

  <script>
    $(document).ready(function() {
        $('.enter').click(function(e) {
          e.preventDefault();
          $('.popup').fadeIn();
          });
         $("form").submit(function(e) {
          e.preventDefault();
            // Retrieve the entered values
            var busnumber = $('#busnumber').val();
            var busname = $('#busname').val();
            var employeenumber = $('#employeenumber').val();
            var routenumber = $('#routenumber').val();
  
            // Send data to the server here
  
            $('.popup').fadeOut();
            form.reset(); // Reset the form after submission
         });
        
      });
</script>
    </body>
</html>