<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/employee.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crafty+Girls&family=Dancing+Script&family=Lilita+One&family=Pacifico&family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <title></title>
  </head>
  <body>
    <div class="top">

        <div class="hb">
           <a href="/home" class="homeb"> BusManagement</a>
        </div>

        <p class="heading">Employees</p>

    </div>

    <div class="content">
        <div class="eno">
            <ul>
                <li></li>
            </ul>
        </div>
    
    <div class="name">
        <ul>
            <li></li>
        </ul>
    </div>

        <div class="eage">
            <ul>
                <li><a href=""></a></li>
            </ul>
        </div>
        <div class="ephone">
            <ul>
                <li><a href=""></a></li>
            </ul>
        </div>
        <br><br>

        <button type="submit" class="enter">Enter New Employee</button>

        <div class="popup">
            <h2 class="heading2">Enter New Employee Details</h2>
            <form id="employeeForm">
              
              <input type="text" placeholder="Employee Number" id="eno" required>
              <br><br>
             
              <input type="text" placeholder="Employee Name" id="ename" required>
              <br><br>
           
              <input type="text" placeholder="Employee Age" id="eage" required>
              <br><br>
              
              <input type="text" placeholder="Employee Phone Number" id="ephone" required>
              <br><br>
              <br><br>
              <button type="submit" class="sub">Submit</button>
            </form>
          </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script>    
    $(document).ready(function() {
        $('.enter').click(function(e) {
          e.preventDefault();
          $('.popup').fadeIn();
          });
         $("form").submit(function(e) {
          e.preventDefault();
            // Retrieve the entered values
            var eno = $('#eno').val();
            var ename = $('#ename').val();
            var eage = $('#eage').val();
            var ephone = $('#ephone').val();
  
            // Send data to the server here
  
            $('.popup').fadeOut();
            form.reset(); // Reset the form after submission
         });
        
      });
    </script>
    </body>
</html>