<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../static/home.css">
        <link rel="icon" type="image/x-icon" href="../static/icon.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Crafty+Girls&family=Dancing+Script&family=Lilita+One&family=Pacifico&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <title>Bus Management</title>
    </head>
    <body>
        <div class="top">
            <div class="hb">
               <a href="/" class="homeb"> BusManagement</a>
            </div>

            <div class="buttons">
                <a href="" class="about">About Us</a>
                <a href="/busroute" class="busroute">Bus Route</a>
            </div>

            <div class="register">
                <form action="/login">
                    <button class="login">Login</button>
                </form>
                <form action="/signup">
                    <button class="signup">Signup</button>
                </form>
            </div>
        </div>

        <div class="first">
            <img src="../static/bus.jpg" class="img1">
            <div class="firsttext">
                Welcome to the bus management website.
                We hope you have a good trip.
            </div>
        </div>

        <div class="second">
            <div class="contactus">
                <p class="text3">
                    <b>
                We believe in always listening to the people. Therefore, if you have any query
                or opinions, we are here to listen and answer.
                    </b>
                </p>


                
                <div class="forms">
                    <form action="/">
                        <input type="text" placeholder="Enter your name" class="name">
                        <br><br><br>
    
                        <input type="tel" placeholder="Phone Number" class="number">
                        <br><br><br>
    
                        <input type="email" placeholder="abc@gmail.com" class="email">
                        <br><br><br>

                        <input type="text" placeholder="Write your review here" class="review">
                        <br><br><br><br><br><br>

                        <input type="submit" value="Submit" style="height:45px; width:80px" class="submit">
                    </form>
                    
                </div>
            </div>
        </div>

    </body>
</html>
