<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/users.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crafty+Girls&family=Dancing+Script&family=Lilita+One&family=Pacifico&family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <title></title>
  </head>
  <body>
    <div class="top">

        <div class="hb">
           <a href="/home" class="homeb"> BusManagement</a>
        </div>

        <p class="heading">Users</p>

    </div>

    <div class="content">
        <div class="uno">
            <ul>
                <li></li>
            </ul>
        </div>
    
    <div class="name">
        <ul>
            <li></li>
        </ul>
    </div>

        <div class="age">
            <ul>
                <li><a href=""></a></li>
            </ul>
        </div>
        <div class="phone">
            <ul>
                <li><a href=""></a></li>
            </ul>
        </div>
        <div class="email">
            <ul>
                <li><a href=""></a></li>
            </ul>
        </div>
        <div class="password">
            <ul>
                <li><a href=""></a></li>
            </ul>
        </div>
        <br><br><br>

        



    </div>


    </body>
</html>