<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/users.css">
    <link rel="icon" type="image/x-icon" href="../static/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crafty+Girls&family=Dancing+Script&family=Lilita+One&family=Pacifico&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <title>Users</title>
  </head>
  <body>
    <div class="top">
        <div class="hb">
           <a href="{{ url_for("home_page") }}" class="homeb"> BusManagement</a>
        </div>
        <p class="heading">Users</p>
    </div>

    <div class="content">
        <table cellspacing="0px">
            <tr><th>UserNo.</th>
                <th>Name</th>
              <th>Age</th>
                <th>Phone</th>
              <th>EMail</th>
                <th>Password</th>
            </tr>
           
            <tbody class="rows">
            {% for user in users %}
            <tr>
              <td>{{ user.userno }}</td>
              <td>{{ user.name }}</td>
              <td>{{ user.age }}</td>
              <td>{{ user.phone }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.password }}</td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        <br><br><br>
    </div>
  </body>
</html>